<a href="https://colab.research.google.com/github/alvinrach/learn-ai-bbc/blob/main/Kaggle_NLP_LSTM_BBC_News_Article_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
import tensorflow as tf

!pip install contractions
import re
import contractions
import nltk
nltk.download('stopwords')

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.0.52)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.2.0)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
d = pd.read_csv('https://raw.githubusercontent.com/alvinrach/learn-ai-bbc/main/BBC%20News%20Train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/alvinrach/learn-ai-bbc/main/BBC%20News%20Test.csv')
sample = pd.read_csv('https://raw.githubusercontent.com/alvinrach/learn-ai-bbc/main/BBC%20News%20Sample%20Solution.csv')

In [28]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [29]:
d = d.drop('ArticleId',1)

In [30]:
d

                                                   Text       Category
0     worldcom ex-boss launches defence lawyers defe...       business
1     german business confidence slides german busin...       business
2     bbc poll indicates economic gloom citizens in ...       business
3     lifestyle  governs mobile choice  faster  bett...           tech
4     enron bosses in $168m payout eighteen former e...       business
...                                                 ...            ...
1485  double eviction from big brother model caprice...  entertainment
1486  dj double act revamp chart show dj duo jk and ...  entertainment
1487  weak dollar hits reuters revenues at media gro...       business
1488  apple ipod family expands market apple has exp...           tech
1489  santy worm makes unwelcome visit thousands of ...           tech

[1490 rows x 2 columns]

In [31]:
# Cleaning the texts
def txtprocess(txt):
    # Lower the texts
    txt = str(txt).lower()
    # Remove contractions
    txt = contractions.fix(txt)
    
    # Just pick the alphabet
    txt = re.sub(r'[^a-zA-Z]', ' ', txt)
    # Fix unnecessary space
    txt = re.sub(' +', ' ', txt)
    
    txt = ' '.join(txt.split())
    
    return txt

# Apply the function
d['Text'] = d['Text'].apply(txtprocess)

In [32]:
stop_words = set(nltk.corpus.stopwords.words('english'))
# stop_words.remove('no')
# stop_words.remove('not')
# stop_words.remove('but')

def remove_stopwords(txt):
    no_stopword_txt = [w for w in txt.split() if not w in stop_words]
    return ' '.join(no_stopword_txt)

d['Text'] = d['Text'].apply(lambda x: remove_stopwords(x))

In [33]:
category = pd.get_dummies(d.Category)
d_new = pd.concat([d, category], axis=1)
d_new = d_new.drop('Category',1)
d_new

                                                   Text  business  ...  sport  tech
0     worldcom ex boss launches defence lawyers defe...         1  ...      0     0
1     german business confidence slides german busin...         1  ...      0     0
2     bbc poll indicates economic gloom citizens maj...         1  ...      0     0
3     lifestyle governs mobile choice faster better ...         0  ...      0     1
4     enron bosses payout eighteen former enron dire...         1  ...      0     0
...                                                 ...       ...  ...    ...   ...
1485  double eviction big brother model caprice holb...         0  ...      0     0
1486  dj double act revamp chart show dj duo jk joel...         0  ...      0     0
1487  weak dollar hits reuters revenues media group ...         1  ...      0     0
1488  apple ipod family expands market apple expande...         0  ...      0     1
1489  santy worm makes unwelcome visit thousands web...         0  ...      0     1

[1490 rows x 6 columns]

In [34]:
article = d_new['Text'].values
label = d_new[category.columns].values

In [35]:
tokenizer = Tokenizer(num_words=None, oov_token='-')
tokenizer.fit_on_texts(article)
 
sekuens = tokenizer.texts_to_sequences(article)
 
padded = pad_sequences(sekuens)

padded_train, padded_test, y_train, y_test = train_test_split(padded, label, test_size=0.2, random_state=42)

In [36]:
padded_train

array([[    0,     0,     0, ...,  1882,  1894,   556],
       [    0,     0,     0, ...,  3655, 14703, 14704],
       [    0,     0,     0, ...,    81,   564,    81],
       ...,
       [    0,     0,     0, ...,    36,     5,  1852],
       [    0,     0,     0, ...,   554,  3494,   167],
       [    0,     0,     0, ...,   579,  2885, 10705]], dtype=int32)

In [37]:
len(padded[1])

1643

In [38]:
len(padded)

1490

In [39]:
print(dict(list(tokenizer.word_index.items())[:30]))

{'-': 1, 'said': 2, 'mr': 3, 'would': 4, 'year': 5, 'also': 6, 'new': 7, 'people': 8, 'us': 9, 'one': 10, 'could': 11, 'first': 12, 'last': 13, 'two': 14, 'time': 15, 'world': 16, 'uk': 17, 'government': 18, 'film': 19, 'years': 20, 'best': 21, 'bn': 22, 'make': 23, 'told': 24, 'three': 25, 'made': 26, 'get': 27, 'game': 28, 'many': 29, 'back': 30}

In [40]:
len(tokenizer.word_index)

23397

In [41]:
len(padded_train[1])

1643

In [42]:
len(padded_test[1])

1643

In [43]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=len(tokenizer.word_index)+1, output_dim=500),
    tf.keras.layers.LSTM(16, dropout=0.9),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [44]:
set_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=15)

history = model.fit(padded_train, y_train, epochs=60, batch_size=128,
                    validation_data=(padded_test, y_test), callbacks=[set_callback], verbose=2)

Epoch 1/60
10/10 - 6s - loss: 1.6030 - accuracy: 0.2676 - val_loss: 1.5921 - val_accuracy: 0.3221
Epoch 2/60
10/10 - 4s - loss: 1.5717 - accuracy: 0.3515 - val_loss: 1.5659 - val_accuracy: 0.3658
Epoch 3/60
10/10 - 4s - loss: 1.5223 - accuracy: 0.4161 - val_loss: 1.5115 - val_accuracy: 0.3826
Epoch 4/60
10/10 - 4s - loss: 1.4111 - accuracy: 0.4732 - val_loss: 1.3608 - val_accuracy: 0.4698
Epoch 5/60
10/10 - 4s - loss: 1.2070 - accuracy: 0.6007 - val_loss: 1.1870 - val_accuracy: 0.5705
Epoch 6/60
10/10 - 4s - loss: 1.0489 - accuracy: 0.6770 - val_loss: 1.0658 - val_accuracy: 0.5906
Epoch 7/60
10/10 - 4s - loss: 0.9175 - accuracy: 0.7248 - val_loss: 0.9909 - val_accuracy: 0.5839
Epoch 8/60
10/10 - 4s - loss: 0.7682 - accuracy: 0.7970 - val_loss: 0.8814 - val_accuracy: 0.7114
Epoch 9/60
10/10 - 4s - loss: 0.6257 - accuracy: 0.9086 - val_loss: 0.7287 - val_accuracy: 0.7953
Epoch 10/60
10/10 - 4s - loss: 0.5345 - accuracy: 0.9228 - val_loss: 0.6760 - val_accuracy: 0.7651
Epoch 11/60
10/10 - 4s - loss: 0.4651 - accuracy: 0.9354 - val_loss: 0.6714 - val_accuracy: 0.7852
Epoch 12/60
10/10 - 4s - loss: 0.4242 - accuracy: 0.9597 - val_loss: 0.5929 - val_accuracy: 0.8221
Epoch 13/60
10/10 - 4s - loss: 0.3878 - accuracy: 0.9681 - val_loss: 0.5469 - val_accuracy: 0.8423
Epoch 14/60
10/10 - 4s - loss: 0.3543 - accuracy: 0.9799 - val_loss: 0.5280 - val_accuracy: 0.8356
Epoch 15/60
10/10 - 4s - loss: 0.3304 - accuracy: 0.9857 - val_loss: 0.5041 - val_accuracy: 0.8591
Epoch 16/60
10/10 - 4s - loss: 0.3064 - accuracy: 0.9799 - val_loss: 0.5011 - val_accuracy: 0.8557
Epoch 17/60
10/10 - 3s - loss: 0.2840 - accuracy: 0.9849 - val_loss: 0.4956 - val_accuracy: 0.8456
Epoch 18/60
10/10 - 4s - loss: 0.2593 - accuracy: 0.9916 - val_loss: 0.4880 - val_accuracy: 0.8557
Epoch 19/60
10/10 - 4s - loss: 0.2406 - accuracy: 0.9933 - val_loss: 0.4700 - val_accuracy: 0.8624
Epoch 20/60
10/10 - 4s - loss: 0.2170 - accuracy: 0.9908 - val_loss: 0.4429 - val_accuracy: 0.8523
Epoch 21/60
10/10 - 4s - loss: 0.1950 - accuracy: 0.9966 - val_loss: 0.4128 - val_accuracy: 0.8758
Epoch 22/60
10/10 - 4s - loss: 0.1665 - accuracy: 1.0000 - val_loss: 0.4480 - val_accuracy: 0.8691
Epoch 23/60
10/10 - 4s - loss: 0.1495 - accuracy: 0.9958 - val_loss: 0.4549 - val_accuracy: 0.8624
Epoch 24/60
10/10 - 4s - loss: 0.1280 - accuracy: 0.9992 - val_loss: 0.4003 - val_accuracy: 0.8859
Epoch 25/60
10/10 - 4s - loss: 0.1097 - accuracy: 1.0000 - val_loss: 0.3871 - val_accuracy: 0.8859
Epoch 26/60
10/10 - 4s - loss: 0.0972 - accuracy: 0.9983 - val_loss: 0.3983 - val_accuracy: 0.8859
Epoch 27/60
10/10 - 4s - loss: 0.0818 - accuracy: 1.0000 - val_loss: 0.4078 - val_accuracy: 0.8826
Epoch 28/60
10/10 - 4s - loss: 0.0798 - accuracy: 0.9975 - val_loss: 0.3830 - val_accuracy: 0.8893
Epoch 29/60
10/10 - 4s - loss: 0.0638 - accuracy: 1.0000 - val_loss: 0.3457 - val_accuracy: 0.8960
Epoch 30/60
10/10 - 4s - loss: 0.0577 - accuracy: 1.0000 - val_loss: 0.3745 - val_accuracy: 0.8859
Epoch 31/60
10/10 - 4s - loss: 0.0498 - accuracy: 1.0000 - val_loss: 0.4257 - val_accuracy: 0.8725
Epoch 32/60
10/10 - 4s - loss: 0.0506 - accuracy: 0.9975 - val_loss: 0.4065 - val_accuracy: 0.8792
Epoch 33/60
10/10 - 4s - loss: 0.0452 - accuracy: 0.9992 - val_loss: 0.3928 - val_accuracy: 0.8893
Epoch 34/60
10/10 - 4s - loss: 0.0382 - accuracy: 0.9992 - val_loss: 0.3310 - val_accuracy: 0.9027
Epoch 35/60
10/10 - 4s - loss: 0.0420 - accuracy: 0.9975 - val_loss: 0.3852 - val_accuracy: 0.8859
Epoch 36/60
10/10 - 4s - loss: 0.0454 - accuracy: 0.9966 - val_loss: 0.4297 - val_accuracy: 0.8725
Epoch 37/60
10/10 - 4s - loss: 0.0326 - accuracy: 0.9992 - val_loss: 0.4144 - val_accuracy: 0.8893
Epoch 38/60
10/10 - 4s - loss: 0.0341 - accuracy: 0.9983 - val_loss: 0.3821 - val_accuracy: 0.8893
Epoch 39/60
10/10 - 4s - loss: 0.0299 - accuracy: 0.9992 - val_loss: 0.3743 - val_accuracy: 0.9027
Epoch 40/60
10/10 - 4s - loss: 0.0259 - accuracy: 1.0000 - val_loss: 0.3519 - val_accuracy: 0.9027
Epoch 41/60
10/10 - 4s - loss: 0.0236 - accuracy: 1.0000 - val_loss: 0.3390 - val_accuracy: 0.8993
Epoch 42/60
10/10 - 4s - loss: 0.0225 - accuracy: 1.0000 - val_loss: 0.3333 - val_accuracy: 0.9094
Epoch 43/60
10/10 - 4s - loss: 0.0201 - accuracy: 1.0000 - val_loss: 0.3158 - val_accuracy: 0.9161
Epoch 44/60
10/10 - 4s - loss: 0.0210 - accuracy: 0.9992 - val_loss: 0.3128 - val_accuracy: 0.9195
Epoch 45/60
10/10 - 4s - loss: 0.0182 - accuracy: 1.0000 - val_loss: 0.3315 - val_accuracy: 0.9161
Epoch 46/60
10/10 - 4s - loss: 0.0177 - accuracy: 1.0000 - val_loss: 0.3357 - val_accuracy: 0.9128
Epoch 47/60
10/10 - 4s - loss: 0.0163 - accuracy: 1.0000 - val_loss: 0.3370 - val_accuracy: 0.9128
Epoch 48/60
10/10 - 4s - loss: 0.0155 - accuracy: 1.0000 - val_loss: 0.3436 - val_accuracy: 0.9128
Epoch 49/60
10/10 - 4s - loss: 0.0146 - accuracy: 1.0000 - val_loss: 0.3450 - val_accuracy: 0.9128
Epoch 50/60
10/10 - 4s - loss: 0.0139 - accuracy: 1.0000 - val_loss: 0.3650 - val_accuracy: 0.9128
Epoch 51/60
10/10 - 4s - loss: 0.0136 - accuracy: 1.0000 - val_loss: 0.3585 - val_accuracy: 0.9128
Epoch 52/60
10/10 - 4s - loss: 0.0128 - accuracy: 1.0000 - val_loss: 0.3333 - val_accuracy: 0.9128
Epoch 53/60
10/10 - 4s - loss: 0.0142 - accuracy: 0.9992 - val_loss: 0.3621 - val_accuracy: 0.9094
Epoch 54/60
10/10 - 4s - loss: 0.0137 - accuracy: 0.9992 - val_loss: 0.4244 - val_accuracy: 0.8993
Epoch 55/60
10/10 - 4s - loss: 0.0117 - accuracy: 1.0000 - val_loss: 0.4491 - val_accuracy: 0.8993
Epoch 56/60
10/10 - 4s - loss: 0.0113 - accuracy: 1.0000 - val_loss: 0.4484 - val_accuracy: 0.8993
Epoch 57/60
10/10 - 4s - loss: 0.0106 - accuracy: 1.0000 - val_loss: 0.4236 - val_accuracy: 0.8993
Epoch 58/60
10/10 - 4s - loss: 0.0102 - accuracy: 1.0000 - val_loss: 0.4303 - val_accuracy: 0.8926
Epoch 59/60
10/10 - 4s - loss: 0.0111 - accuracy: 0.9992 - val_loss: 0.4550 - val_accuracy: 0.8993

In [45]:
model.evaluate(padded_test, y_test)

10/10 [==============================] - 1s 54ms/step - loss: 0.4550 - accuracy: 0.8993

[0.454992413520813, 0.899328887462616]

In [50]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=len(tokenizer.word_index)+1, output_dim=500),
    tf.keras.layers.LSTM(16, dropout=0.9),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

X_all=np.concatenate((padded_train, padded_test))
y_all=np.concatenate((y_train, y_test))

class myCallback(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if(logs.get('loss')<=history.history['loss'][-1]):
            print("Stopped, reach same losses as splitted trial")
            self.model.stop_training = True
set_callback = myCallback()

history = model.fit(X_all, y_all, epochs=60, batch_size=128,
                    callbacks=[set_callback], verbose=2)

Epoch 1/60
12/12 - 5s - loss: 1.6077 - accuracy: 0.2101
Epoch 2/60
12/12 - 4s - loss: 1.5776 - accuracy: 0.3537
Epoch 3/60
12/12 - 4s - loss: 1.5325 - accuracy: 0.4302
Epoch 4/60
12/12 - 4s - loss: 1.4219 - accuracy: 0.4309
Epoch 5/60
12/12 - 4s - loss: 1.2057 - accuracy: 0.6409
Epoch 6/60
12/12 - 4s - loss: 1.0611 - accuracy: 0.7866
Epoch 7/60
12/12 - 4s - loss: 0.9155 - accuracy: 0.9248
Epoch 8/60
12/12 - 4s - loss: 0.7775 - accuracy: 0.9685
Epoch 9/60
12/12 - 4s - loss: 0.6646 - accuracy: 0.9832
Epoch 10/60
12/12 - 4s - loss: 0.5505 - accuracy: 0.9859
Epoch 11/60
12/12 - 4s - loss: 0.4379 - accuracy: 0.9906
Epoch 12/60
12/12 - 4s - loss: 0.3481 - accuracy: 0.9933
Epoch 13/60
12/12 - 4s - loss: 0.2756 - accuracy: 0.9926
Epoch 14/60
12/12 - 4s - loss: 0.2222 - accuracy: 0.9953
Epoch 15/60
12/12 - 4s - loss: 0.1922 - accuracy: 0.9926
Epoch 16/60
12/12 - 4s - loss: 0.1546 - accuracy: 0.9993
Epoch 17/60
12/12 - 4s - loss: 0.1337 - accuracy: 0.9973
Epoch 18/60
12/12 - 4s - loss: 0.1139 - accuracy: 0.9987
Epoch 19/60
12/12 - 4s - loss: 0.0971 - accuracy: 0.9993
Epoch 20/60
12/12 - 4s - loss: 0.0922 - accuracy: 0.9960
Epoch 21/60
12/12 - 4s - loss: 0.0788 - accuracy: 0.9987
Epoch 22/60
12/12 - 4s - loss: 0.0724 - accuracy: 0.9980
Epoch 23/60
12/12 - 4s - loss: 0.0646 - accuracy: 0.9980
Epoch 24/60
12/12 - 4s - loss: 0.0588 - accuracy: 0.9973
Epoch 25/60
12/12 - 4s - loss: 0.0515 - accuracy: 0.9993
Epoch 26/60
12/12 - 4s - loss: 0.0448 - accuracy: 1.0000
Epoch 27/60
12/12 - 4s - loss: 0.0407 - accuracy: 0.9993
Epoch 28/60
12/12 - 4s - loss: 0.0378 - accuracy: 0.9993
Epoch 29/60
12/12 - 4s - loss: 0.0353 - accuracy: 0.9987
Epoch 30/60
12/12 - 4s - loss: 0.0355 - accuracy: 0.9980
Epoch 31/60
12/12 - 4s - loss: 0.0308 - accuracy: 0.9987
Epoch 32/60
12/12 - 4s - loss: 0.0312 - accuracy: 0.9993
Epoch 33/60
12/12 - 4s - loss: 0.0306 - accuracy: 0.9987
Epoch 34/60
12/12 - 4s - loss: 0.0241 - accuracy: 1.0000
Epoch 35/60
12/12 - 4s - loss: 0.0221 - accuracy: 1.0000
Epoch 36/60
12/12 - 4s - loss: 0.0219 - accuracy: 0.9993
Epoch 37/60
12/12 - 4s - loss: 0.0192 - accuracy: 1.0000
Epoch 38/60
12/12 - 4s - loss: 0.0188 - accuracy: 0.9993
Epoch 39/60
12/12 - 4s - loss: 0.0170 - accuracy: 1.0000
Epoch 40/60
12/12 - 4s - loss: 0.0158 - accuracy: 1.0000
Epoch 41/60
12/12 - 4s - loss: 0.0152 - accuracy: 1.0000
Epoch 42/60
12/12 - 4s - loss: 0.0145 - accuracy: 1.0000
Epoch 43/60
12/12 - 4s - loss: 0.0170 - accuracy: 0.9987
Epoch 44/60
12/12 - 4s - loss: 0.0215 - accuracy: 0.9960
Epoch 45/60
12/12 - 4s - loss: 0.0166 - accuracy: 0.9993
Epoch 46/60
12/12 - 4s - loss: 0.0164 - accuracy: 0.9980
Epoch 47/60
12/12 - 4s - loss: 0.0134 - accuracy: 1.0000
Epoch 48/60
12/12 - 4s - loss: 0.0137 - accuracy: 0.9993
Epoch 49/60
12/12 - 4s - loss: 0.0202 - accuracy: 0.9973
Epoch 50/60
12/12 - 4s - loss: 0.0112 - accuracy: 1.0000
Epoch 51/60
12/12 - 4s - loss: 0.0116 - accuracy: 0.9993
Epoch 52/60
12/12 - 4s - loss: 0.0102 - accuracy: 1.0000
Stopped, reach same losses as splitted trial

In [51]:
sample

     ArticleId       Category
0         1018          sport
1         1319           tech
2         1138       business
3          459  entertainment
4         1020       politics
..         ...            ...
730       1923          sport
731        373           tech
732       1704       business
733        206  entertainment
734        471       politics

[735 rows x 2 columns]

In [52]:
test['Text'] = test['Text'].apply(txtprocess)
test['Text'] = test['Text'].apply(lambda x: remove_stopwords(x))
testtext = test['Text'].values
 
sekuenstesttext = tokenizer.texts_to_sequences(testtext)
 
paddedtesttext = pad_sequences(sekuenstesttext)

In [53]:
answer=np.argmax(model.predict(paddedtesttext), axis=-1)
answer=pd.DataFrame(answer, columns=['Category'])

mapping=dict(enumerate(category.columns))
answer.Category=answer.Category.map(mapping)

answer=pd.concat((test.ArticleId, answer),1)
answer

     ArticleId       Category
0         1018          sport
1         1319           tech
2         1138          sport
3          459       business
4         1020          sport
..         ...            ...
730       1923       business
731        373  entertainment
732       1704       politics
733        206       business
734        471       politics

[735 rows x 2 columns]

In [54]:
answer.to_csv('bbc-ai-answer.csv', index=False)